<section data-section="COMMUNITY">
  <div class="space-y-7 sm:space-y-5">
    <%= render(Ui::HeadingComponent.new(className: 'text-center sm:text-3xl sm:leading-tighter', text: @heading_text)) %>

    <div class="flex justify-center gap-3">
      <%= render(Ui::SocialComponent.new(social: :vk)) %>
      <%= render(Ui::SocialComponent.new(social: :dzen)) %>
      <%= render(Ui::SocialComponent.new(social: :vc_ru)) %>
      <%= render(Ui::SocialComponent.new(social: :inst)) %>
    </div>
  </div>
</section>
