<section data-section="HERO" class="mt-16 xl:mt-7 sm:mt-0 space-y-28 xl:space-y-14 sm:space-y-7">
  <div class="space-y-6">
    <div class="space-y-4 text-center sm:space-y-3">
      <%= render(Ui::HeadingComponent.new(className: '', text: @heading_text)) %>
      <%= render(Ui::CaptionComponent.new(className: 'leading-none sm:leading-tight', text: @caption_text)) %>
    </div>

    <div class="flex justify-center gap-3 sm:flex-col sm:gap-2">
      <%= render(Ui::ButtonComponent.new(className: 'sm:w-full', href: '/tattoos', text: 'Открыть ленту')) %>
      <%= render(Ui::ButtonComponent.new(className: 'sm:w-full', href: '/masters', variant: 'secondary', text: 'Стать мастером')) %>
    </div>
  </div>

  <div class="flex justify-center sm:flex-col gap-7">
    <% @tattoo_structure.each do |key, value| %>
      <%= render Views::Welcome::Index::MinTattooCardComponent.new(
      className: value[:className],
      image: value[:image],
      nickname: value[:nickname]
    ) %>
    <% end %>
  </div>
</section>