<header class="<%= Constants::WEBSITE_WIDTH %> flex items-center justify-between text-2xl mt-7 sm:mt-5 lg:text-xl tracking-small">

  <nav class="flex items-end gap-7">
    <%= link_to(root_path, class: "h-10 sm:h-7 #{@link_styles}") do %>
      <%= image_tag('logo.png', class: 'hover:scale-105 duration-300 s-full', alt: 'Логотип inkz') %>
    <% end %>

    <% if admin? %>
      <ul class="flex gap-4">
        <%= link_to "Татуировки", admin_tattoos_url, class: @link_styles %>
        <%= link_to "Мастера", admin_masters_url, class: @link_styles %>
        <%= link_to "Отзывы", admin_feedbacks_url, class: @link_styles %>
        <%= link_to "Почты", admin_subscriptions_url, class: @link_styles %>
      </ul>
    <% end %>

  </nav>

  <% if user_signed_in? %>
    <div class="flex gap-4 sm:gap-2 sm:flex-col">
      <%= link_to @current_user.email, edit_user_registration_path, class: @link_styles %>
      <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: @link_styles %>
    </div>
  <% else %>
    <div class="flex gap-4 sm:gap-2">
      <%= link_to "Войти", new_user_session_path, class: @link_styles %>
      <%= link_to "Регистрация", new_user_registration_path, class: @link_styles %>
    </div>
  <% end %>

</header>
