<p style="color: green"><%= notice %></p>

<%= render @master %>

<hr>
<h2>Tattoos:</h2>

<div id="tattoos card">
  <% @master.tattoos.each do |tattoo| %>
    <%= link_to tattoo do %>
      <%= render tattoo %>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this master", edit_master_path(@master) %> |
  <%= link_to "Back to masters", masters_path %>

  <%= button_to "Destroy this master", @master, method: :delete %>
</div>
