<p style="color: green"><%= notice %></p>

<%= render @master %>

<% if can? :manage, @master %>
  <div>
    <%= link_to "Edit this master", edit_master_path(@master) %>
    <%= button_to "Destroy this master", @master, method: :delete %>
  </div>
<% end %>

<hr>
<h2>Tattoos:</h2>

<% if current_user && @master.user == current_user %>
  <%= link_to "New tattoo", new_master_tattoo_path(@master) %>
<% end %>



<div id="tattoos card">
  <% @master.tattoos.each do |tattoo| %>
    <%= link_to tattoo_path(tattoo) do %>
      <%= render @master.tattoos, master: @master %>
    <% end %>
  <% end %>
</div>