<section data-section="masters-show" class="mt-10 space-y-3 overflow-visible <%= Constants::TATTOO_PAGE_WIDTH %>" class="">
  <%= render Views::Masters::MasterComponent.new(master: @master) %>

  <div>
    <div class="flex justify-between">
      <%= render(Ui::CaptionComponent.new(className: 'sm:!text-2xl', text: 'отзывы')) %>
      <% if user_signed_in? && can?(:create, Feedback) %>
        <%= link_to new_master_feedback_path(@master), class: 'sm:!text-2xl underline hover:no-underline', title: 'оставить отзыв' do %>
          <%= render(Ui::CaptionComponent.new(class: '!text-black', text: 'оставить отзыв')) %>
        <% end %>
      <% end %>
    </div>

    <div class="grid grid-cols-3 gap-5 sm:grid-cols-1">
      <% @master.feedbacks.first(3).each do |feedback| %>
        <div class="feedback-card">
          <%= render partial: "feedbacks/feedback", locals: { master: @master, feedback: feedback } %>
        </div>
      <% end %>
    </div>

  </div>

  <div class="flex justify-between">
    <%= render(Ui::CaptionComponent.new(className: 'sm:!text-2xl', text: 'работы мастера')) %>
    <%= render(Ui::CaptionComponent.new(className: 'sm:!text-2xl', text: @master.tattoos.size)) %>
  </div>

  <%= render Views::Tattoos::TattoosGridComponent.new(tattoos: @master_tattoos, className: '') %>
</section>
