  <% if notice.present? %>
  <%= content_tag(:p, notice, class: 'inline-block px-3 py-2 mb-5 font-medium bg-black text-white', id: 'notice') %>
<% end %>

<div class="w-[70%] mx-auto mt-10">
  <%= render @master %>

  <% if can? :manage, @master %>
    <div>
      <%= link_to "Edit this master", edit_master_path(@master) %>
      <%= button_to "Destroy this master", @master, method: :delete %>
    </div>
  <% end %>

  <% if current_user && @master.user == current_user %>
    <%= link_to "New tattoo", new_master_tattoo_path(@master) %>
  <% end %>

  <div class="grid grid-cols-2 mt-10 gap-7">
    <% @tattoos.each do |tattoo| %>
      <div class="tattoo-card">
        <%= link_to tattoo_path(tattoo) do %>
          <%= render partial: "tattoos/tattoo", locals: { master: @master, tattoo: tattoo } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-10">
    <% if user_signed_in? && can?(:create, Feedback) %>
      <%= link_to "New feedback", new_master_feedback_path(@master) %>
    <% end %>

    <% @master.feedbacks.each do |feedback| %>
      <div class="feedback-card">
        <%= render partial: "feedbacks/feedback", locals: { master: @master, feedback: feedback } %>
      </div>
    <% end %>
  </div>

</div>
