<p class="inline-block px-3 py-2 mb-5 font-medim bg-slate-700" id="notice"><%= notice %></p>
<%= render @master %>
<% if can? :manage, @master %>
  <div>
    <%= link_to "Edit this master", edit_master_path(@master) %>
    <%= button_to "Destroy this master", @master, method: :delete %>
  </div>
<% end %>
<hr>
<h2>Tattoos:</h2>
<% if current_user && @master.user == current_user %>
  <%= link_to "New tattoo", new_master_tattoo_path(@master) %>
<% end %>
<div id="tattoos-card">
  <% @tattoos.each do |tattoo| %>
    <div class="tattoo-card">
      <%= link_to tattoo_path(tattoo) do %>
        <%= render partial: "tattoos/tattoo", locals: { master: @master, tattoo: tattoo } %>
      <% end %>
    </div>
  <% end %>
</div>

<hr>
<h2>Feedbacks:</h2>

<% if user_signed_in? && can?(:create, Feedback) %>
  <%= link_to "New feedback", new_master_feedback_path(@master) %>
<% end %>

<div id="feedbacks">
  <% @master.feedbacks.each do |feedback| %>
    <div class="feedback-card">
      <%= render partial: "feedbacks/feedback", locals: { master: @master, feedback: feedback } %>
    </div>
  <% end %>
</div>
