<div id="<%= dom_id(@master) %>" class="relative grid items-center grid-cols-10 gap-10 p-5 xl:gap-0 sm:gap-5 sm:p-2 sm:w-full sm:grid-cols-1 bg-neutral-100 rounded-10">
  <%= link_to master_path(@master), class: 'flex items-center col-span-3 gap-5 sm:gap-3 xl:col-span-4 group' do %>
    <div class="overflow-hidden s-36 sm:s-14 rounded-10">
      <%= image_tag(@master.master_image.url, class: 'group-hover:scale-105 duration-500', alt: "Аватарка #{@master.nickname}") %>
    </div>

    <div class="flex flex-col sm:-space-y-1">
      <%= render(Ui::HeadingComponent.new(className: 'sm:!text-3xl group-hover:opacity-[70%] duration-500', text: @master.nickname)) %>
      <%= render(Ui::CaptionComponent.new(className: 'sm:!text-base', text: @master.name)) %>
    </div>
  <% end %>

  <%= render(Views::Masters::MasterCardTattoosComponent.new(quantity: 9, master_tattoos: @master.tattoos, className: 'xl:hidden')) %>
  <%= render(Views::Masters::MasterCardTattoosComponent.new(quantity: 6, master_tattoos: @master.tattoos, className: 'hidden xl:flex xl:col-span-6 sm:hidden')) %>
  <%= render(Views::Masters::MasterCardTattoosComponent.new(quantity: 3, master_tattoos: @master.tattoos, className: 'hidden sm:flex xl:col-span-6')) %>
</div>
