<%= form_with(model: [master, tattoo]) do |form| %>

  <% if tattoo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tattoo.errors.count, "error") %> prohibited this tattoo from being saved:</h2>
      <ul>
        <% tattoo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :tag_list, style: "display: block" %>
    <%= form.text_field :tag_list, value: tattoo.tag_list.join(", ") %>
  </div>

  <div>
    <%= form.label :tattoo_image %>
    <%= form.file_field :tattoo_image, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
