<div id="<%= dom_id tattoo %>">
  <article>
    <%= image_tag tattoo.tattoo_image.url if tattoo.tattoo_image.url %>
    <h4>
      <%= tattoo.title %>
    </h4>

    <% if @display_master == true %>
      <h4><%= link_to tattoo.master.nickname, master_path(tattoo.master) %></h4>
    <% end %>
    
    <mark><%= tattoo.specialization %></mark>
    
    <%= master.user.email %>

    <% if can? :manage, tattoo %>
      <div>
        <%= link_to "Edit this tattoo", edit_master_tattoo_path(master, tattoo) %>
        <%= button_to "Destroy this tattoo", tattoo, method: :delete %>
      </div>
    <% end %>
  </article>
</div>
