<div id="<%= dom_id tattoo %>">
  <article>
    <%= image_tag tattoo.tattoo_image.url if tattoo.tattoo_image.url %>
    <h4 class="capitalize">
      <%= tattoo.title %>
    </h4>
    <% if @display_master == true %>
      <h4><%= link_to master.user.email, master_path(tattoo.master) %></h4>
      <%# <h4><%= link_to tattoo.master.nickname, master_path(tattoo.master) %>
    <% end %>
    <mark class="capitalize"><%= tattoo.specialization %></mark>
    <% if can?(:manage, @master) %>
      <div>
        <%= link_to "Edit this tattoo", edit_master_tattoo_path(master, tattoo) %>
        <%= button_to "Destroy this tattoo", tattoo, method: :delete %>
      </div>
    <% end %>
  </article>
</div>
