<article id="<%= dom_id tattoo %>" class="relative group">

  <% if tattoo.tattoo_image.present? %>
    <%= link_to tattoo do %>
      <%= image_tag tattoo.tattoo_image.url, class: "object-cover h-[40vh] w-full" %>
    <% end %>
  <% end %>

  <% if false %>
    <div class="absolute bottom-0 right-0 mt-1">
      <% tattoo.part_list.each do |part| %>
        <mark class="px-1 py-[2px] bg-white"><%= part %></mark>
      <% end %>

      <% tattoo.style_list.each do |style| %>
        <mark class="bg-[#8d8d8d] px-1 py-[2px]"><%= style %></mark>
      <% end %>
    </div>
  <% end %>

  <%= render 'tattoos/favourite_button', tattoo: tattoo %>

</article>
