<% if notice.present? %>
  <%= content_tag(:p, notice, class: 'inline-block px-3 py-2 mb-5 font-medium bg-black text-white', id: 'notice') %>
<% end %>

<%= render Views::Tattoos::TattooComponent.new(tattoo: @tattoo, master: @master ) %>

<section  data-section="tattoo-show" class="mt-12 sm:mt-10 space-y-3 <%= Constants::TATTOO_PAGE_WIDTH %>" class="">
  <%= render(Ui::CaptionComponent.new(className: 'sm:!text-2xl', text: 'Похожие татуировки')) %>
  <%= render Views::Tattoos::TattoosGridComponent.new(tattoos: @tattoos, className: '') %>
</section>