<% heightScreen = '!h-[100svh] h-[100vh]' %>

<p class="absolute bottom-5 right-5" style="color: green"><%= notice %></p>

<section data-block="HERO" class="grid relative place-items-center overflow-hidden text-white rounded-b-[50px] sm:rounded-b-[35px] <%= heightScreen %>">
    <div class="mt-16 xl:mt-14 sm:mt-10">
        <h1 class="font-normal text-[18.75rem] xl:text-[15rem] sm:text-9xl text-center leading-none font-ink">INKZ</h1>
        <div class="mt-5 xl:mt-0 sm:w-auto w-[55%] mx-auto leading-[1.15] xl:leading-none">
            <h2 class="ml-40 sm:ml-10 sm:text-lg text-[25px] xl:text-xl sm:w-[70%] w-[62%] font-bold uppercase">Медиа-сервис, который объединяет тату мастеров и клиентов</h2>
            <h3 class="ml-80 sm:ml-20 mt-7 sm:mt-3 xl:ml-72 xl:w-[60%] xl:mt-4 w-[60%] sm:w-[70%] xl:text-lg sm:text-sm text-[23px]">Мы собираем вместе мастеров из разных городов России и делаем процесс вашего знакомства с ними прозрачным</h3>
        </div>
    </div>
    <div data-block="GRADIENT" class="absolute w-screen inset-0 h-[15vh] -z-5">   
    </div>
    <div data-block="ARROW" class="absolute h-full sm:h-[95%] -z-5 -mt-[8vh] xl:-mt-[5vh] flex gap-10 items-end justify-center">
        <%= link_to '#COMMUNITY', class: 'grid s-14 sm:s-7 place-items-center animate-bounce-custom' do %>
        <%= image_tag('icons/arrow.svg', alt: 'Стрелка вниз', class: '') %>
        <% end %>
    </div>
    <div data-block="METALIC" class="absolute w-screen h-screen -z-[7]">
        <%= image_tag('index/metalic.png', alt: 'Металлические татуировки', class: 'w-full h-full object-cover') %>   
    </div>
    <div data-block="BACKGROUND" class="absolute w-screen h-screen -z-10">
        <%= image_tag('index/background.jpg', alt: 'Человек с татуировкой', class: 'w-full h-full object-cover') %>   
    </div>
</section>

<main class="w-[85%] mx-auto">

    <section id="COMMUNITY" class="mt-32 sm:mt-20">
        <h1 class="font-bold uppercase sm:text-4xl text-7xl">Наше сообщество</h1>
        <h2 class="ml-96 xl:ml-72 sm:ml-14 sm:w-[85%] w-[40%] sm:font-normal sm:normal-case sm:text-sm text-[25px] leading-none xl:text-xl font-bold uppercase sm:mt-3 mt-10">Мы собираем вместе мастеров из разных городов России и делаем процесс вашего знакомства с ними прозрачным</h2>
        <div class="flex justify-between text-xl sm:grid sm:grid-cols-2 xl:text-lg sm:text-sm">
            <div class="flex flex-col items-center mt-10">
                <%= image_tag('index/avatars/1.jpg', alt: '', class: 's-64 xl:s-44 sm:s-36 object-cover') %>   
                <h1 class="-mt-8 xl:-mt-6 sm:-mt-5 text-custom-gray">@lika.saburenko</h1>
            </div>
            <div class="flex flex-col items-center mt-10">
                <%= image_tag('index/avatars/2.jpg', alt: '', class: 's-64 xl:s-44 sm:s-36 object-cover') %>   
                <h1 class="-mt-8 xl:-mt-6 sm:-mt-5 text-custom-gray">@d.marinchenkov</h1>
            </div>
            <div class="flex flex-col items-center mt-10">
                <%= image_tag('index/avatars/3.jpg', alt: '', class: 's-64 xl:s-44 sm:s-36 object-cover') %>   
                <h1 class="-mt-8 xl:-mt-6 sm:-mt-5 text-custom-gray">@gorehex</h1>
            </div>
            <div class="flex flex-col items-center mt-10">
                <%= image_tag('index/avatars/4.jpg', alt: '', class: 's-64 xl:s-44 sm:s-36 object-cover') %>   
                <h1 class="-mt-8 xl:-mt-6 sm:-mt-5 text-custom-gray">@hanzai_boy</h1>
            </div>
            <div class="flex flex-col items-center mt-10">
                <%= image_tag('index/avatars/5.jpg', alt: '', class: 's-64 xl:s-44 sm:s-36 object-cover') %>   
                <h1 class="-mt-8 xl:-mt-6 sm:-mt-5 text-custom-gray">@13_bodytattoos</h1>
            </div>
            <div class="flex flex-col items-center mt-10">
                <%= image_tag('index/avatars/6.jpg', alt: '', class: 's-64 xl:s-44 sm:s-36 object-cover') %>   
                <h1 class="-mt-8 xl:-mt-6 sm:-mt-5 text-custom-gray">@hardblank__</h1>
            </div>
        </div>
    </section>

    <section data-block="ABOUT" class="mt-32 sm:mt-20">
        <h1 class="font-bold uppercase sm:text-4xl text-7xl">Про что мы?</h1>
        <div class="flex justify-between gap-10 mt-20 leading-none sm:mt-14 text-x sm:flex-col xl:text-lg sm:text-sm">
            <div class="flex flex-col w-[92.5%] mx-auto mr-8 xl:mr-0">
                <div class="bg-black rounded-full mb-14 sm:mb-5 s-6"></div>
                <h2 class="sm:text-sm text-[25px] xl:text-xl font-bold uppercase">Сообщество</h2>
                <h3 class="sm:text-sm text-[25px] xl:text-xl mt-3 tracking-tight">Общайтесь друг с другом, обменивайтесь навыками и становитесь лучше вместе !</h3>
            </div>
            <div class="flex flex-col w-[92.5%] mx-auto">
                <div class="bg-black rounded-full mb-14 sm:mb-5 s-6"></div>
                <h2 class="sm:text-sm text-[25px] xl:text-xl font-bold uppercase">Безопасность</h2>
                <h3 class="sm:text-sm text-[25px] xl:text-xl mt-3 tracking-tight">Прозрачная платформа с возможность посмотреть отзывы о мастерах</h3>
            </div>
            <div class="flex flex-col w-[92.5%] mx-auto">
                <div class="bg-black rounded-full mb-14 sm:mb-5 s-6"></div>
                <h2 class="sm:text-sm text-[25px] xl:text-xl font-bold uppercase">Индивидуальность</h2>
                <h3 class="sm:text-sm text-[25px] xl:text-xl mt-3 tracking-tight">Мы создаем среду талантливых личностей и следим за безопасностью ваших работ</h3>
            </div>
        </div>
    </section>

    <section data-block="GRID" class="mt-32 sm:mt-20  w-[80%] mx-auto flex sm:flex-col sm:w-full justify-center gap-7 sm:gap-4">
        <div class="w-[90%] sm:w-full mx-auto flex flex-col items-start justify-end gap-5 sm:gap-3">
            <%= image_tag('index/grid/friends.png', alt: '', class: 'w-full object-contain') %>
            <div class="flex items-start justify-start gap-5 -ml-12 sm:gap-1 sm:ml-0 sm:flex-col">
                <%= image_tag('index/grid/serega.png', alt: '', class: 'sm:-ml-3 w-1/2 sm:w-full object-contain') %>
                <%= image_tag('index/grid/description.png', alt: '', class: 'w-1/2 sm:w-full object-contain') %>
            </div>
        </div>
        <div class="flex flex-col items-start justify-center gap-5 sm:gap-2">
            <%= image_tag('index/grid/head.png', alt: '', class: '-ml-12 sm:-ml-5 object-contain') %>
            <%= image_tag('index/grid/zakhar.png', alt: '', class: 'object-contain') %>
        </div>

    </section>

    <section data-block="OPPORTUNITIES" class="mt-32 sm:mt-20">
        <h1 class="font-bold uppercase sm:text-4xl text-7xl">Наши возможности</h1>
        <div class="flex justify-center gap-10 mt-20 sm:flex-col">
            <div class="flex flex-col justify-between rounded-[29px] GLASS_CARD p-8">
                <%= image_tag('icons/eyes.svg', alt: '', class: 'self-end mb-20 sm:mb-14 s-40 object-contain') %>
                <div>
                    <h1 class="text-5xl xl:text-4xl font-bold uppercase w-[80%]">Лента с работами</h1>
                    <h3 class="sm:text-sm text-[25px] xl:text-xl tracking-tight leading-none mt-5 sm:mt-2">Все работы привязаны к аккаунтам авторов, через которые можно связаться с мастерами и узнать о них еще больше</h3>
                </div>
            </div>
            <div class="flex flex-col justify-between rounded-[29px] GLASS_CARD p-8">
                <%= image_tag('icons/face.svg', alt: '', class: 'self-end mb-20 sm:mb-14 s-40 object-contain') %>
                <div>
                    <h1 class="text-5xl xl:text-4xl font-bold uppercase w-[80%]">Аккаунты мастеров</h1>
                    <h3 class="sm:text-sm text-[25px] xl:text-xl tracking-tight leading-none mt-5 sm:mt-2">Вы сможете просматривать работы мастеров, которые будут отображаться в ленте и периодически обновляться</h3>
                </div>
            </div>
            <div class="flex flex-col justify-between rounded-[29px] GLASS_CARD p-8">
                <%= image_tag('icons/filter.svg', alt: '', class: 'self-end mb-20 sm:mb-14 s-40 object-contain') %>
                <div>
                    <h1 class="text-5xl xl:text-4xl font-bold uppercase w-[80%]">Фильтры по стилям</h1>
                    <h3 class="sm:text-sm text-[25px] xl:text-xl tracking-tight leading-none mt-5 sm:mt-2">К ленте можно применить различные фильтры, чтобы ускорить процесс выбора мастера или эскиза</h3>
                </div>
           </div>
        </div>
    </section>

</main>

<section data-block="EMAIL" class="relative mt-32 sm:pb-20 sm:mt-20">
    <div class="flex flex-col justify-between py-10 text-center GLASS_CARD w-[85%] mx-auto rounded-[30px]">
        <h1 class="text-5xl sm:text-2xl font-bold uppercase w-[50%] sm:w-[95%] mx-auto">Следите за разработкой нашего приложения в нашей <a href="https://vk.com/club223209209" target="_blank" class="underline hover:no-underline">группе в ВК</a></h1>
        <%= image_tag('index/aripile.png', alt: '', class: 'w-2/3 mx-auto') %>
        <h1 class="text-5xl sm:text-2xl font-bold uppercase w-[50%] sm:w-[95%] mx-auto">не пропустите запуск и станьте частью нашего coобщества</h1>
        <div class="mt-20">
            <%= turbo_frame_tag dom_id(@subscription) do %>
                    <%= render 'subscriptions/form', subscription: @subscription%>
            <% end %>
        </div>
    </div>
    <div data-block='FOOTER_GRADIENT' class="absolute inset-0 w-full h-full -z-10"></div>
</section>

<%= render 'components/application/footer' %>