<article id="<%= dom_id @tattoo %>" class="<%= className %>">

  <%= link_to @tattoo do %>
    <%= image_tag @tattoo.tattoo_image.url, class: "object-cover s-full #{@preview_mode == :enabled ? 'group-hover:scale-105 duration-300' : ''}" %>
  <% end %>

  <% if @show_tags %>
    <div class="absolute mt-1 bottom-3 left-3">
      <% @tattoo.part_list.each do |part| %>
        <%= render(Ui::MarkComponent.new(text: part, className: 'bg-black text-white')) %>
      <% end %>

      <% @tattoo.style_list.each do |style| %>
        <%= render(Ui::MarkComponent.new(text: style, className: 'bg-white')) %>
      <% end %>
    </div>
  <% end %>

  <% if @preview_mode == :disabled %>
    <%= link_to tattoos_path do %>
      <%= image_tag "icons/add.svg", class: "object-cover s-12 absolute hidden p-3.5 duration-300 bg-black bottom-3 right-3 group-hover:block hover:bg-opacity-70" %>
    <% end %>
  <% end %>

</article>