<header class="flex sm:flex-col items-center justify-between sm:gap-5 w-[90%] mx-auto mt-7 text-2xl lg:text-xl md:text-base sm:text-xl tracking-small">
  <nav class="flex items-center sm:w-full sm:justify-between gap-7 md:gap-5">
    <%= link_to(root_path, class: 's-16 lg:s-12 sm:s-12') do %>
      <%= image_tag('logo.svg', class: 'hover:scale-[107%] duration-300', alt: 'Логотип INKZ') %>
    <% end %>

    <% if current_user&.is_admin? %>
      <ul class="flex gap-5 sm:flex-wrap md:gap-2 sm:gap-x-2 sm:gap-y-0 sm:justify-end">
        <li><%= link_to "Татуировки", admin_tattoos_url%></li>
        <li><%= link_to "Мастера", admin_masters_url %></li>
        <li><%= link_to "Отзывы", admin_feedbacks_url %></li>
        <li><%= link_to "Почты", admin_subscriptions_url %></li>
      </ul>
    <% else %>
      <ul class="flex gap-5 md:gap-2">
        <li><%= link_to "Татуировки", tattoos_url %></li>
        <li><%= link_to "Мастера", masters_url %></li>
      </ul>
    <% end %>

  </nav>

  <ul class="flex items-center sm:w-full sm:justify-between gap-7 md:gap-5">
    <input class="py-3 lg:py-2 md:py-1 sm:py-2 text-xl lg:text-lg md:text-base border-2 border-black placeholder:text-black w-[20vw] sm:w-[45vw] rounded-xl xl:rounded-lg focus:border-black ring-" type="text" placeholder="Поиск">

    <li>

      <% if user_signed_in? %>
        <div class="flex gap-3 sm:flex-col sm:gap-0">
          <%= link_to current_user.email, edit_user_registration_path %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="flex gap-3">
          <%= link_to "Log in", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        </div>
      <% end %>
    </li>
  </ul>
</header>
