<header class="flex justify-center">
  <nav class="grid z-50 fixed grid-cols-3 sm:grid-cols-2 text-xl sm:text-lg items-center sm:mt-2 mt-7 w-[95%]">
    <ul class="sm:hidden justify-self-start">
      <li>
        <%= link_to(root_path, class: 's-20') do %>
          <%= image_tag('logo.svg', alt: 'Логотип INKZ', class: 'hover:scale-110 duration-300') %>
        <% end %>
      </li>
    </ul>
    <ul class="flex gap-5 font-medium uppercase sm:justify-self-start justify-self-center">
      <%= link_to "Masters", admin_masters_url, class: "hover:scale-110 duration-300" %>
      <%= link_to "Tattoos", admin_tattoos_url, class: "hover:scale-110 duration-300" %>

      <% if current_user&.is_admin? %>
        <%= link_to "Subscriptions", admin_subscriptions_url, class: "hover:scale-110 duration-300" %>
      <% end %>
    </ul>
    <ul class="justify-self-end">
      <% if user_signed_in? %>
        <%#= link_to current_user.email, edit_user_registration_path %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= image_tag('icons/login.svg', alt: 'Выход из аккаунта', class: 's-10 sm:s-7 rotate-180 hover:scale-110 duration-300') %>
        <% end %>

      <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag('icons/login.svg', alt: 'Вход в аккаунт', class: 's-10 sm:s-7 hover:scale-110 duration-300') %>
        <% end %>
      <% end %>
    </ul>
  </nav>
</header>