<h1>Tattoos</h1>

<% if notice.present? %>
  <%= content_tag(:p, notice, class: 'inline-block px-3 py-2 mb-5 font-medium bg-slate-700', id: 'notice') %>
<% end %>

<section class="flex flex-wrap gap-5">
  <% Tattoo.tag_counts_on(:tags).each do |tag| %>
    <%= link_to tagged_admin_tattoos_path(tag.name) do %>
      <div class="p-2 border border-[#1095c1] flex gap-2 items-center group hover:border-white duration-200">
        <mark class="bg-[#1095c1 group-hover:bg-white duration-200"><%= tag.name %></mark> <%= tag.taggings_count %>
      </div>
    <% end %>
  <% end %>
</section>

<table>
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Master</th>
      <th scope="col">User</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <div class="tattoos admin card">
      <% @tattoos.each do |tattoo| %>
        <%= render partial: 'tattoo', locals: { tattoo: tattoo } %>
      <% end %>
    </div>
  </tbody>
</table>
