<article id="<%= dom_id feedback %>" class="p-5 space-y-3 rounded-10 bg-neutral-100">
  <div>
    <%= image_tag feedback.feedback_image.url, class: "w-36 mb-5 rounded-xl" if feedback.feedback_image.url  %>

    <div class="flex gap-5">

      <p class="text-xl">
        <%= feedback.user.email %>
      </p>

      <p class="flex items-center gap-2 text-xl">
        оценка:
        <mark class="px-2 text-white bg-black rounded-md"><%= feedback.rating %></mark>
      </p>

      <%#= feedback.master.nickname %>
    </div>

    <p class="text-3xl tracking-[-0.03em] my-2">
      <%= feedback.comment %>
    </p>
  </div>

  <% if can_modify_feedback?(feedback) %>
    <div class="flex gap-4">
      <%= render(Ui::ButtonComponent.new(className: '!p-0 border-none hover:underline', variant: 'secondary', href: edit_feedback_path(feedback), text: 'изменить' )) %>
      <%= button_to "удалить", @feedback, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-lg font-book duration-200 hover:opacity-[85%] hover:underline' %>
    </div>
  <% end %>
</article>
