<article id="<%= dom_id feedback %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">Comment:</strong>
    <%= feedback.comment %>
  </p>

  <hr class="mt-6">

  <div class="flex gap-5">
    <p class="my-5">
      <strong class="block mb-1 font-medium">Rating:</strong>
      <mark><%= feedback.rating %></mark>
    </p>

    <p class="my-5">
      <strong class="block mb-1 font-medium">User:</strong>
      <mark><%= feedback.user_id %></mark>
    </p>

    <p class="my-5">
      <strong class="block mb-1 font-medium">Master:</strong>
      <mark><%= feedback.master_id %></mark>
    </p>
  </div>

  <% if can_modify_feedback?(feedback) %>
  <%= link_to "Edit this feedback", edit_feedback_path(feedback) %>
  <%= button_to "Destroy this feedback", feedback_path(feedback), method: :delete %>
<% end %>

</article>
