<header class="flex items-center justify-between mx-auto text-2xl sm:gap-5 w-container mt-7 lg:text-xl md:text-base sm:text-xl tracking-small">
  <nav class="flex items-end sm:justify-between gap-7 md:gap-5 sm:w-full">
    <%= link_to(root_path, class: 'h-10') do %>
      <%= image_tag('logo.png', class: 'hover:scale-105 duration-300 s-full', alt: 'Логотип INKZ') %>
    <% end %>

    <% if current_user&.is_admin? %>
      <ul class="flex gap-5 md:gap-2">
        <li><%= link_to "Татуировки", admin_tattoos_url %></li>
        <li><%= link_to "Мастера", admin_masters_url %></li>
        <li><%= link_to "Отзывы", admin_feedbacks_url %></li>
        <li><%= link_to "Почты", admin_subscriptions_url %></li>
      </ul>
    <% end %>
  </nav>

  <% if user_signed_in? %>
    <div class="flex gap-4 sm:flex-col sm:gap-0">
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
    </div>

  <% else %>
    <div class="flex gap-4">
      <%= link_to "Войти", new_user_session_path %>
      <%= link_to "Регистрация", new_user_registration_path %>
    </div>
  <% end %>

</header>
