<% if notice.present? %>
  <%= content_tag(:p, notice, class: 'inline-block px-3 py-2 mb-5 font-medium bg-black text-white', id: 'notice') %>
<% end %>

<%= render @subscription %>
<div>
  <%= link_to "Edit this subscription", edit_subscription_path(@subscription) %> |
  <%= link_to "Back to subscriptions", admin_subscriptions_path %>
  <%= button_to "Destroy this subscription", @subscription, method: :delete %>
</div>
