<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>tatu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%# if controller_name != 'welcome' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" %>
    <%# end %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="font-sans">
    <div class="container">
      <%= render 'components/application/menubar' %>
      <%= yield %>
    </div>
  </body>
</html>
