<!DOCTYPE html>
<html class="scroll-smooth" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# using gem `meta-data` and def `meta-data` from application controller %>
    <%= display_meta_tags(
        title: custom_meta_tags(@page_title, default: 'inkz'),
        description: custom_meta_tags(@page_description, default: 'inkz description'),
        keywords: custom_meta_tags(@page_keywords, default: 'inkz keywords'),
        
        og: {
          title: custom_meta_tags(@page_title, default: 'inkz'),
          url: request.original_url + request.path,
          image: request.original_url + "shared/seo.png",
        }
    ) %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="font-sans">
    <%= render 'components/sections/header' %>
    <main class="w-[90%] mx-auto">
      <%= yield %>
    </main>
    <%= render 'components/sections/footer' %>
  </body>
</html>
