<!DOCTYPE html>
<html class="h-full scroll-smooth" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# using gem `meta-data` and def `meta-data` from application controller %>
    <%= display_meta_tags(
      title: custom_meta_tags(@page_title, default: 'inkz'),
      description: custom_meta_tags(@page_description, default: 'inkz description'),
      keywords: custom_meta_tags(@page_keywords, default: 'inkz keywords'),
      
      og: {
        title: custom_meta_tags(@page_title, default: 'inkz'),
        url: if request.path == root_path
              request.original_url
            else
              request.original_url + request.path
            end,
        image: request.original_url + "shared/seo.png",
      }
    ) %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="h-full font-sans tracking-[-0.03em] bg-custom-white">
    <div class="flex flex-col min-h-full">

      <%= render "components/global/container" do %>
        <%= render "components/global/header" %>
        <%= render "components/search_form" %>

        <%= yield %>
      <% end %>

      <%= render "components/global/footer" %>
    </div>
  </body>
</html>
