<!DOCTYPE html>
<html class="scroll-smooth" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= display_meta_tags(
      title: meta_tags(@page_title, 'inkz'),
      description: meta_tags(@page_description, 'inkz description'),
      keywords: meta_tags(@page_keywords, 'inkz keywords')
    ) %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="font-sans">
    <div class="container">
      <%= render 'components/application/menubar' %>
      <%= yield %>
    </div>
  </body>
</html>
