<!DOCTYPE html>
<html class="scroll-smooth" lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= favicon_link_tag 'favicon.ico', type: 'image/x-icon', media: '(prefers-color-scheme: light)' %>
    <%= favicon_link_tag 'favicon-dark.ico', type: 'image/x-icon', media: '(prefers-color-scheme: dark)' %>

    <%# gem `meta-data` and def `meta-data` in application controller %>
    <%= display_meta_tags(
      title: custom_meta_tags(@page_title, default: 'inkz'),
      description: custom_meta_tags(@page_description, default: 'inkz description'),
      keywords: custom_meta_tags(@page_keywords, default: 'inkz keywords'),
      
      og: {
        title: custom_meta_tags(@page_title, default: 'inkz'),
        url: if request.path == root_path
              request.original_url
            else
              request.original_url + request.path
            end,
        image: request.original_url + "shared/seo.png",
      }
    ) %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="font-sans lowercase">
    <%= render(Global::HeaderComponent.new(current_user: current_user)) %>
    <%= render(Global::ContainerComponent.new) do %>
      <%= yield %>
    <% end %>
  </body>
</html>
